body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #calculator
  {
    background-color: lightgray;
    height:400px;
    width:300px;
    padding: 30px;
    border-radius: 15px;
  }

  #result
  {
    height:30px;
    width:250px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left:18px;
    font-weight: bold;
    font-size: 21px;
    
  }
  
  .number, .operator, #equal
  {
   width:50px; 
    margin:10px;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
    border: 0px;
    border-radius: 50%;
  }

 
  .number
  {
    background-color: rgb(148, 119, 135);
  }

  .operator
  {
    background-color:#F5F5DC
  }
  
  #clear
  {
    width: 100px;
    text-align: center;
    background-color:red;
    margin-top: 20px;
    margin-left:100px;
    font-size: 30px;
    border-radius: 15px;
    border: 0px;
  }

  #equal
  {
    background-color:black;
    color:white
  }