body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  #calculator
  {
    background-color: lightgray;
    height:400px;
    width:300px;
    padding: 30px;
  }

  #result
  {
    height:30px;
    width:250px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 21px;
    
  }
  
  .number, .operator, #clear, #equal
  {
    
    margin:10px;
    font-size: 30px;
    padding: 10px;
    color:white;
    font-weight: bold;
  }

  .number
  {
    background-color: rgb(194, 91, 148);
  }

  .operator
  {
    background-color: green;
  }
  
  #clear
  {
    background-color: red;
  }

  #equal
  {
    background-color: blue;
  }